<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="front.css" type="text/css">
	</head>
	<body>
	  <a href="http://github.com/pdc/minecraft-texture-maker"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

	  <div id="container">

	    <div class="download">
	      <a href="http://github.com/pdc/minecraft-texture-maker/zipball/master">
	        <img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
	      <a href="http://github.com/pdc/minecraft-texture-maker/tarball/master">
	        <img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
	    </div>

	    <h1><a href="http://github.com/pdc/minecraft-texture-maker">Minecraft Texture Maker</a>
	      <span class="small">by <a href="http://github.com/pdc">pdc</a></span></h1>

	    {{ content }}
    </body>
</html>

